@model SimpleWebApp.Models.Person

@{
    ViewBag.Title = "Home Page";
}


<div class="container">
    <div class="col-md-6">
        <form method="post" class="form form-horizontal">
            <div class="form-group">
                <div class="control-label col-sm-5">
                    <label>Post Request</label>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Id, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.Id, new { type = "number", min = "0" })
                </div>
                <div class="col-sm-9">
                    @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.FirstName)
                    
                </div>
                <div class="col-sm-9">
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.SecondName, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.SecondName)
                </div>
                <div class="col-sm-9">
                    @Html.ValidationMessageFor(model => model.SecondName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Email, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.Email)
                </div>
                <div class="col-sm-9">
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Age, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.Age, new { type = "number", min = "0" })
                </div>
                <div class="col-sm-9">
                    @Html.ValidationMessageFor(model => model.Age, "", new {@class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-lg btn-info">Send Post Request</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <form class="form form-horizontal" method="get" action="/Home/Index/FindPerson">
            <div class="form-group">
                <div class="control-label col-sm-5">
                    <label>Get Request</label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">Find by Id</label>
                <div class="col-sm-9">
                    <input type="number" min="0" value="id" name="id" id="id"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-lg btn-info">Send Get Request</button>
                </div>
            </div>
        </form>
    </div>
</div>
